<!--
<ion-view title="Register">
      <ion-content>-->

        <div class="list">
          <label class="item item-input">
            <span class="input-label">Full Name: </span>
            <input type="text" ng-model="user.fullName">
          </label>
          <label class="item item-input">
            <span class="input-label">Username: </span>
            <input type="text" ng-model="user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password: </span>
            <input type="password" ng-model="user.pass">
          </label>
          <label class="item item-input">
            <span class="input-label">Confirm Password: </span>
            <input type="password"  ng-model="user.cnfpass">
          </label>
          <label class="item item-input">
            <span class="input-label">Email Id: </span>
            <input type="text" ng-model="user.emailId">
          </label>
          <label class="item item-input">
            <span class="input-label">Phone No: </span>
            <input type="text" ng-model="user.phoneNo">
          </label>
          <label class="item item-input">
            <span class="input-label">Address: </span>
            <input type="text" ng-model="user.address">
          </label>
          <label class="item item-input">
            <span class="input-label">Country: </span>
            <input type="text" ng-model="user.country">
          </label>
          <button class="button button-block button-positive" ng-click="registerCtrl.register()">
            Register
          </button>
        </div>



<!--        </ion-content>

</ion-view>-->
