<div class=" container-fluid page">
    <div class="panel-heading">

        <h1>Reallives Game Home Page....</h1>

    </div>
    <div class="panel-body">
        <h3>Please click on start button to play the game....</h3>
        <br/>
        <input  class="btn btn-primary" type="button" value="Start New Game" ng-click="userCtrl.newGameGoToDashboard()">
        <br><br>
        <div  ng-if="userCtrl.names.length > 0">
            <h3>Or Play saved Games</h3>

            <div class="col-lg-6"><input ng-model="userCtrl.q" id="search" class="form-control" placeholder="Filter text"></div>
            <div class="col-lg-6"><select ng-model="userCtrl.pageSize" id="pageSize" class="form-control">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select></div>
            <br><br><br>

            <table class="table table-bordered">
                <tr style="font-weight: bold;font-size: 20px;">
                    <th>
                        <a href="#" ng-click="sortType = 'reallivesGameId'; sortReverse = !sortReverse">
                            id
                            <span ng-show="sortType == 'reallivesGameId' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'reallivesGameId' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'timestamp'; sortReverse = !sortReverse">
                            date
                            <span ng-show="sortType == 'timestamp' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'timestamp' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                            status
                            <span ng-show="sortType == 'status' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'status' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                            Age
                            <span ng-show="sortType == 'age' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'age' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>

                    <th>
                        <a href="#" ng-click="sortType = 'country'; sortReverse = !sortReverse">
                            Country
                            <span ng-show="sortType == 'country' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'country' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            Full Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="text-primary"> ^</span>
                            <span ng-show="sortType == 'name' && sortReverse" class="text text-primary"> v</span>
                        </a>
                    </th>

                    <th></th>
                </tr>
                <tr  ng-repeat="t in userCtrl.names| orderBy:sortType:sortReverse |  filter:userCtrl.q | startFrom:userCtrl.currentPage * userCtrl.pageSize | limitTo:userCtrl.pageSize">
                    <td>{{t.reallivesGameId}}</td>
                    <td>{{t.timestamp}}</td>
                    <td>{{t.status}}</td>
                    <td>{{t.age}}</td>
                    <td>{{t.countryName}}</td>
                    <td>{{t.name}}</td>
                    <td>
                        <button class="btn btn-default" value="{{t}}" ng-click="userCtrl.loadSaved(t.reallivesGameId)">Load game :{{t.reallivesGameId}}</button>
                        <br><br>
                    </td>
                </tr>
            </table>
            <button class="btn btn-default" ng-disabled="userCtrl.currentPage == 0" ng-click="userCtrl.currentPage = userCtrl.currentPage - 1">
                Previous
            </button>
            {{userCtrl.currentPage + 1}}/{{userCtrl.totalPages}}
            <button class="btn btn-default" ng-disabled="userCtrl.currentPage >= userCtrl.names.length / userCtrl.pageSize - 1" ng-click="userCtrl.currentPage = userCtrl.currentPage + 1">
                Next
            </button>
        </div>
    </div>
</div>